# Your token is secret, do not upload to git.
token

# Local files
config/*
!config/mrfreezequotes
databases
.coverage

# File to test various code snippets.
experimentation.py

# Garbage files.
.DS_Store
__pycache__
.mypy_cache/
