# Your token is secret, do not upload to git.
token

# Local files
config/*
!config/mrfreezequotes

# File to test various code snippets.
experimentation.py

# Garbage files.
.DS_Store
__pycache__

# Pyenv stuff
.python-version
