# Your token is secret, do not upload to git.
token

# Local files
config/*
!config/mrfreezequotes
!config/banish_templates/
databases
.coverage
.vim
htmlcov
settings.db

# File to test various code snippets.
experimentation.py

# Garbage files.
.DS_Store
__pycache__
.mypy_cache/
