[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
jedi = "*"
mypy = "*"
flake8 = "*"
rope = "*"

[packages]
discord-py = "~=1.2"
airtable-python-wrapper = "~=0.12"
inflect = "~=3.0"

[requires]
python_version = "3.8"

[scripts]
bot = "python -m mrfreeze"
